/* Body */
body{
    max-width: 1414px;
    margin: 0 auto;
}

/* google fonts */
.poppins {
  font-family: "Poppins", sans-serif;
  
}

/* banner  */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 5rem;
    color: white;
    margin-top: 10px;
    border-radius: 20px;
}
.banner-left{
    max-width: 35rem;
}
.banner-heading{
    font-weight: 700;
    font-size: 4.5rem;
    margin: 0;
    line-height: 4.7rem;
}
.btn{
    background-color: red;
    color: white;
    padding: 16px 25px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
.banner-right img{
    display: block;
}

/* responsive design */
@media screen and (max-width:575px) {
    .banner{
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 0 10px;
        padding: 10px 40px 0px 20px;
    }
    .banner-left{
        text-align: center;
        padding: 10px;
        max-width: 334px;
    }
    .banner-heading{
        font-size: 2.3rem;
        line-height: 2.5rem;
        margin-top: 19px;
    }
    .banner-left button{
        height: 49px;
        width: 170px;
        font-size: 17px;
    }
    .banner-right img{
        width: 100%;
        display: block;
        padding-left: 20px;
        
    }
}
@media screen and (min-width:576px) and (max-width:992px){
    body{
        max-width: 734px;
        margin: 0 auto;
    }
    .banner{
        gap: 1rem;
    }
    .banner-left{
        max-width: 316px;
        padding-left: 76px;
    }
    .banner-heading{
        font-size: 34px;
        line-height: 34px;
    }
    .banner-description{
        font-size: 10px;
    }
    .banner-right img{
        width: 100%;
    }
    
}
