/* Body */
.container{
    max-width: 1414px;
    margin: 0 auto;
}

/* google fonts */
.poppins {
  font-family: "Poppins", sans-serif;
  
}

/* banner  */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 5rem;
    color: white;
    margin-top: 10px;
    border-radius: 20px;
}
.banner-left{
    max-width: 35rem;
}
.banner-heading{
    font-weight: 700;
    font-size: 4.5rem;
    margin: 0;
    line-height: 4.7rem;
}
.btn{
    background-color: red;
    color: white;
    padding: 16px 25px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
.banner-right img{
    display: block;
}
/* match */
.match{
    display: flex;
    gap:3rem;
    margin-top: 20px;
    margin-bottom: 50px;
}
.match-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 312px;
    height: 312px;
    background-color: black;
    padding: 30px 30px;
    border: none;
    border-radius: 10px;
}
.match-left button{
    height: 65px;
    font-size: 20px;
}
.bg-white{
    background-color: white;
    color: black;
}
.match-right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px 50px;
    flex: 1;
}
.matches{
    /* max-width: 312px; */
    box-shadow: 1px  0px 20px  rgb(163, 159, 159);
    border-radius: 10px;
    border: none;
}
.matches-inside{
    padding: 20px;
}
.matches img{
    width: 100%;
    border-radius: 10px 10px 0 0 ;
}
.matches button{
    padding: 12px 23px;
}
.match-des{
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
}
.icons{
    display: flex;
    gap:30px
}

/* footer */
footer{
   margin: 0 ;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
}
.footer-heading{
    padding-top: 117px;
    font-size: 40px;
    font-weight: bold;
}
.footer-infos{
    display: flex;
    justify-content: space-between;
    padding: 100px 350px 130px 350px;
}

body{
    margin: 0px;
}

/* responsive design */
@media screen and (max-width:575px) {
    .banner{
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 10px 10px;
        padding: 10px 40px 0px 20px;
    }
    .banner-left{
        text-align: center;
        padding: 10px;
        max-width: 334px;
    }
    .banner-heading{
        font-size: 2.3rem;
        line-height: 2.5rem;
        margin-top: 19px;
    }
    .banner-left button{
        height: 49px;
        width: 170px;
        font-size: 17px;
    }
    .banner-right img{
        width: 100%;
        display: block;
        padding-left: 20px;
        
    }
    /* match */
    .match{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .match-left{
        background-color: white;
    }
    .match-left button{
        box-shadow: 1px 0 10px 1px rgb(197, 178, 178);
        border: none;
    }
    .match-right{
        grid-template-columns: repeat(1,1fr);
        padding: 0 20px;
    }
    /* footer */
    footer{
        margin-bottom: 0;
    }
    .footer-infos{
        padding: 50px 10px;
        flex-direction: column;
        gap: 10px;
        font-weight: 400;
        padding: 100px;
    }
}
@media screen and (min-width:576px) and (max-width:992px){
    /* body{
        max-width: 734px;
        margin: 0 auto;
    } */
    .banner{
        gap: 1rem;
        margin:20px 20px;
    }
    .banner-left{
        max-width: 316px;
        padding-left: 76px;
    }
    .banner-heading{
        font-size: 34px;
        line-height: 34px;
    }
    .banner-description{
        font-size: 10px;
    }
    .banner-right img{
        width: 100%;
    }
    /* matches */
    .match{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .match-left{
        flex-direction: row;
        background-color: white;
        height: 30px;
        width: auto;
        justify-content: space-between;
    }
    .match-left button{
        width: 220px;
                box-shadow: 1px 0 10px 1px rgb(197, 178, 178);

    }
    .match-right{
        grid-template-columns: repeat(2, 1fr);
    }
    
    /* footer */
    .footer-infos{
        flex-wrap: wrap;
        padding: 80px 30px;
        font-weight: 400;
        font-size: 10px;
    }
}
